fasterq*
SRR*
log*
nohup*
.snakemake
__*
www/mysql_no_rename_rte
www/web/latin
www/mysql/
www/mysql/cell_umap.sql
www/mysql/te_basic.sql
www/mysql/te_fam.sql
mysql/
data/
scripts/cache/*
scripts/figures/*
data_archive/
www_archive/
